{% extends 'base.html' %}

{% block con %}

<!-- Page Content-->
<section class="py-7">
    <div class="container px-3 my-5">

        <div class="row gx-5">
            <div class="col-xl-12">
                <h6 class="fw-bolder mb-3">주문 관리 > 판매 관리</h6>
            </div>
        </div>

        <!-- 검색 조건 -->
        <div class="text-center mb-5">
            <h1 class="fw-bolder">검색 조건 영역</h1>
            <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
        </div>

        <!-- Button -->
        <a href="{% url 'order:create-sales' %}"><button type="button" class="btn btn-primary">신규</button></a>

        <!-- 판매 목록 -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>No</td>
                    <td>거래 번호</td>
                    <td>거래처</td>
                    <td>상품</td>
                    <td>수량</td>
                    <td>금액</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% if list %}
                    {% for i in list %}
                    <tr onclick="PopupEmpInfo(this)">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.order_no}}</td>
                        <td>{{i.client}}</td>
                        <td>{{i.product}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.ammount}}</td>
                        <td>
                            <a href="{% url 'order:modify-sales' i.id %}"><button type="button" class="btn btn-primary">보기</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">조회된 내역이 없습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</section>

{% endblock %}