{% extends 'base.html' %}

{% block con %}

<!-- Page Content-->
<section class="py-7">
    <div class="container px-3 my-5">

        <div class="row gx-5">
            <div class="col-xl-12">
                <h6 class="fw-bolder mb-3">주문 관리 > 판매 관리</h6>
            </div>
        </div>

        <!-- 검색 조건 -->
        <div class="text-center mb-5">

            <form class="row gy-2 gx-3 align-items-center">
                <label for="searchdate" class="col-sm-1 col-form-label">주문일자</label>
                <div class="col-auto">
                    <input name="fromdate" value="{{search.fromdate}}" type="date" class="form-control" id="fromdate" onchange="matchdate('from')">
                </div> ~ 
                <div class="col-auto">
                    <input name="todate" value="{{search.todate}}" type="date" class="form-control" id="todate" onchange="matchdate('to')">
                </div>

                <label for="searchstaff" class="col-sm-1 col-form-label">담당직원</label>
                <div class="col-auto">
                    <select name="staffname" class="form-select" id="searchstaff">
                        <option value="" {% if search.staffname %} {% else %} selected {% endif %}>전체</option>
                        {% for i in staff_combo %}
                            <option value="{{i}}" {% if i.username == search.staffname %} selected {% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-dark">검색</button>
                </div>
            </form>

        </div>

        <!-- Button -->
        <a href="{% url 'order:create-sales' %}"><button type="button" class="btn btn-primary">신규</button></a>

        <!-- 판매 목록 -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>No</td>
                    <td>거래 번호</td>
                    <td>거래처</td>
                    <td>상품</td>
                    <td>수량</td>
                    <td>금액</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% if saleslist %}
                    {% for i in saleslist %}
                    <tr onclick="PopupEmpInfo(this)">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.order_no}}</td>
                        <td>{{i.client}}</td>
                        <td>{{i.product}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.ammount}}</td>
                        <td>
                            <a href="{% url 'order:modify-sales' i.id %}"><button type="button" class="btn btn-primary">보기</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">조회된 내역이 없습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</section>

<script>
    // 검색일자 초기설정
    var fromdate = document.getElementById('fromdate');
    var todate = document.getElementById('todate');
    
    var today = new Date();
    var year = today.getFullYear();
    var month = ("0" + (1 + today.getMonth())).slice(-2);
    var date = ("0" + today.getDate()).slice(-2);

    if(fromdate.value == ''){
        fromdate.value = year+'-'+month+'-'+date;
    }

    if(todate.value == ''){
        todate.value = year+'-'+month+'-'+date;
    }

    // 검색일자 값의 유효성이 맞지 않을 시, 값을 일치
    function matchdate(objnm) {
        var fromdate = document.getElementById('fromdate');
        var todate = document.getElementById('todate');

        if(fromdate.value > todate.value) {
            if(objnm = 'to'){
                fromdate.value = todate.value;
            }

            // if(objnm = 'from') {
            //     todate.value = fromdate.value;
            // }
        }
    }
</script>

{% endblock %}