{% extends 'base.html' %}

{% block con %}

<!-- Page Content-->
<section class="py-7">
    <div class="container px-3 my-5">
        
        <div class="row gx-5">
            <div class="col-xl-12">
                <h6 class="fw-bolder mb-3">매장 관리 > 거래처 관리</h6>
            </div>
        </div>

        <!-- 검색 조건 -->
        <div class="text-center mb-5">

            <form class="row gy-2 gx-3 align-items-center">
                <label for="searchClientype" class="col-sm-1 col-form-label">거래처 유형</label>
                <div class="col-auto">
                    <select name="clienttype" class="form-select" id="searchClientype">
                        <option value="" {% if search.clienttype %} {% else %} selected {% endif %}>전체</option>
                        {% for i in clienttype_combo %}
                            <option value="{{i.id}}" {% if i.id == search.clienttype %} selected {% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="searchBiztype" class="col-sm-1 col-form-label">거래 유형</label>
                <div class="col-auto">
                    <select name="biztype" class="form-select" id="searchBiztype">
                        <option value="" {% if search.biztype %} {% else %} selected {% endif %}>전체</option>
                        {% for i in biztype_combo %}
                            <option value="{{i.id}}" {% if i.id == search.biztype %} selected {% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="custnm" class="col-sm-1 col-form-label">거래처명</label>
                <div class="col-auto">
                    <input name="custnm" value="{{search.custnm}}" type="text" class="form-control" id="clientnm">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-dark">검색</button>
                </div>
            </form>
        </div>

        <!-- Button -->
        <a href="{% url 'client:create' %}"><button type="button" class="btn btn-primary">신규</button></a>

        <!-- 거래처 목록 -->
        <div class="row gx-5">
            <div class="col-xl-12">
                <div class="accordion mb-5" id="accordionExample">

                    {% for i in clientlist %}
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="heading{{forloop.counter}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">{{i.cust_nm}}</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="collapse{{forloop.counter}}" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <form method="post" action="{% url 'client:modify' i.id %}" class="row g-3">
                                    {% if i.client_type.code_val == 'C' %}
                                        <div class="col-md-6">
                                            <label for="corp_nm" class="form-label">사업장</label>
                                            <input name="corp_nm" value="{{i.corp_nm}}" type="text" class="form-control" id="corp_nm">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="corp_no" class="form-label">사업자번호</label>
                                            <input name="corp_no" value="{{i.corp_no}}" type="text" class="form-control" id="corp_no">
                                        </div>
                                    {% endif %}

                                    <div class="col-md-6">
                                        {% if i.client_type.code_val == 'C' %}
                                        <label for="cust_nm" class="form-label">대표</label>
                                        {% else %}
                                        <label for="cust_nm" class="form-label">고객</label>
                                        {% endif %}
                                        <input name="cust_nm" value="{{i.cust_nm}}" type="text" class="form-control" id="cust_nm">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="client_type" class="form-label">거래처 유형</label>
                                        <select name="client_type" id="client_type" class="form-select">
                                            {% for i in clienttype_combo %}
                                                <option value="{{i.id}}" {% if i.id == i.client_type %} selected {% endif %}>{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="biz_type" class="form-label">거래 유형</label>
                                        <select name="biz_type" id="biz_type" class="form-select">
                                            {% for i in biztype_combo %}
                                                <option value="{{i.id}}" {% if i.id == i.biz_type %} selected {% endif %}>{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="address" class="form-label">주소</label>
                                        <input name="address" value="{{i.address}}" type="text" class="form-control" id="address">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="address2" class="form-label">상세주소</label>
                                        <input name="address2" value="{{i.address2}}" type="text" class="form-control" id="address2">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="telephone" class="form-label">전화번호</label>
                                        <input name="telephone" value="{{i.telephone}}" type="text" class="form-control" id="telephone">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="cellphone" class="form-label">휴대폰번호</label>
                                        <input name="cellphone" value="{{i.cellphone}}" type="text" class="form-control" id="cellphone">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="bank" class="form-label">은행</label>
                                        <input name="bank" value="{{i.bank}}" type="text" class="form-control" id="bank">
                                    </div>
                                    <div class="col-md-9">
                                        <label for="account" class="form-label">계좌번호</label>
                                        <input name="account" value="{{i.account}}" type="text" class="form-control" id="account">
                                    </div>

                                    <div class="col-md-12">
                                        <label for="comment" class="form-label">비고</label>
                                        <textarea name="comment" value="{{i.comment}}" type="text" class="form-control" id="comment">{{i.comment}}</textarea>
                                    </div>

                                    <div class="col-12">
                                        <button type="button" class="btn">삭제</button>
                                        <button type="submit" class="btn btn-primary">수정</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <!-- <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Have more questions?</div>
                                <p class="text-muted mb-4">
                                    Contact us at
                                    <br />
                                    <a href="#!">support@domain.com</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}