
<div class="modal-body">
    <form action="{% url 'client:popup' %}">
        <div class="input-group mb-3">
            <span class="input-group-text" id="pop_key_label">거래처명</span>
            <input name="key" value="{{key}}" type="text" class="form-control" id="pop_key" aria-describedby="pop_key">
            <button type="button" class="btn btn-outline-secondary" onclick="search_popup()">검색</button>
        </div>
    </form>
    
    <!-- 거래처 목록 -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>No</td>
                <td>거래처</td>
                <td>주소</td>
                <td>전화번호</td>
                <td>휴대폰번호</td>
            </tr>
        </thead>
        <tbody>
            {% if poplist %}
                {% for i in poplist %}
                <tr onclick="selectRow({{forloop.counter}}, 'onclick')" ondblclick="selectRow(this, 'ondblclick')">
                    <td>{{forloop.counter}}</td>
                    <td>{{i.cust_nm}}</td>
                    <td>{{i.address}} {{i.address2}}</td>
                    <td>{{i.fmt_telephone}}</td>
                    <td>{{i.fmt_cellphone}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">조회된 내역이 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    // 검색 버튼
    function search_popup(){
        popupSearch("{% url 'client:popup' %}");
    }
</script>